{% include 'nav.html' %}
<div id = "container" class = "container" id = "container">
	<div class="container p-3" id = "container2">
		<form method = "POST"> {% csrf_token %}
		<div class="form-group">
			<label>Title</label>
			<input type = "text" id = "title" class = "form-control" value = "{{ question.title }}" name = "title" />
		</div>
		<div class="form-group">
			<label>Content</label>
			<textarea id = "content" class = "form-control" name = "content">{{ question.content }}</textarea>
		</div>
		<input type="submit" class="btn btn-primary" value = "POST">
		</form>
	</div>
</div>
<style type="text/css">
#container {
	width:70%;
	background-color: white;
	border:1px solid lightgray;
	box-shadow: 0px 0px 5px 5px lightgray;
}
#container2{
	width:70%;
}
#content {
	height:54%;
}
</style>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>